ipykernel
langchain~=0.0.345
youtube-transcript-api 
tiktoken 
pytube
Replicate
transformers>=4.31.0
flask~=3.0.0
llama-cpp-python
pypdf
sentence-transformers 
chromadb 
langchain
flask-sqlalchemy
flask-login
werkzeug~=3.0.1
bcrypt~=4.1.1