{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container px-4" style="margin-top: 40px">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">
                    <form class="form" action="/" id="loginForm">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Youtube Video URL</span>
                            <input type="text" class="form-control" id="tbox_youtube_url" name="tbox_youtube_url"
                                   placeholder="Youtube Video URL" aria-label="Youtube URL"
                                   aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" class="btn btn-primary btn-danger">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden="hidden"
                                  id="spinner"></span>
                            Generate Summary
                        </button>
                    </form>

                </div>
                <div class="card" style="margin-top: 10px">
                    <div class="card-header">
                        Summary
                    </div>
                    <div class="card-body">
                        <p class="card-text" id="card_summary">{% print(summary['summary']) %}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <div class="card">
                        <img id="card_img_src" src="{% print(summary['thumbnail_url']) %}" class="card-img-top"
                             alt="{% print(summary['title']) %}">
                        <div class="card-body">
                            <h5 class="card-title" id="card_title">{% print(summary['title']) %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"
                                id="card_date">{% print(summary['publish_date']) %}</h6>

                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                Show Caption
                            </a>
                            <div class="collapse" id="collapseExample">
                                <p class="card-text" id="card_text">{% print(summary['page_content']) %}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let loginForm = document.getElementById("loginForm");
        loginForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const spinner = document.getElementById('spinner');
            const value = document.getElementById('tbox_youtube_url').value.trim();
            const apiUrlThumbnail = '/get_thumbnail?url=' + value;
            const apiUrlSummary = '/get_summary?url=' + value;
            spinner.hidden = false;
            fetch(apiUrlThumbnail)
                .then(response => {

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('card_img_src').src = data.thumbnail_url
                    document.getElementById('card_title').textContent = data.title
                    document.getElementById('card_text').textContent = data.page_content
                    document.getElementById('card_date').textContent = data.publish_date

                    fetch(apiUrlSummary)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.text();
                        })
                        .then(data => {
                            document.getElementById('card_summary').textContent = data
                            spinner.hidden = true;
                        })
                        .catch(error => {
                            spinner.hidden = true;
                            console.error('Error:', error);
                        });
                })
                .catch(error => {
                    spinner.hidden = true;
                    console.error('Error:', error);
                });

        });
    </script>
{% endblock %}